@charset "utf-8";

header
{
	
	
	height: 50px;
	line-height: 50px;
	text-align: center;
}

footer
{
	padding: 10px;
}


/* Classes */


.infobox
{
	background-color: #FFFEC8;
	width: 382px;
	border: 1px dotted black;
}


.ifi_information
{
	width: 382px;
	font-size: 12px;
	
}